*,
*::before,
*::after {
  box-sizing: border-box;
}

.page_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 18.75rem;
  height: 15.625rem;
  border: 1px solid lightgray;
  padding: 0.4rem 0.2rem;
}

.products_container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0.125rem;
  width: 100%;
  height: 80%;
}

.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border: 1px solid lightgray;
  width: 49%;
  height: 49%;
  padding: 0.125rem;
  cursor: pointer;
}

.product_image {
  display: block;
  max-width: 50%;
  max-height: 80%;
}

.logo {
  max-width: 100%;
  padding: 1rem 2rem;
}

.product_prize {
  margin: 0;
  font-weight: 700;
}