*,
*::before,
*::after {
  box-sizing: border-box;
}

.page_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  width: 10rem;
  height: 37.5rem;
  border: 1px solid lightgray;
  overflow: hidden;
}

.slider {
  display: flex;
  min-height: 90%;
}

.products_container {
  display: flex;
}

.product {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border: 1px solid lightgray;
  width: 10rem;
  height: 100%;
  padding: 0.125rem;
}

.image-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 1.5rem;
  width: 100%;
  height: 45%;
  padding: 0 0.125rem;
}

.product_image {
  display: block;
  width: 100%;
  max-height: 100%;
}

.logo {
  max-width: 100%;
  padding: 1.4rem 0.5rem;
}

.product_prize {
  margin: 0;
  font-weight: 700;
}

.button {
  cursor: pointer;
  border: none;
}

.product_button-close {
  position: absolute;
  top: 0.1rem;
  right: 0.1rem;
  display: flex;
  align-self: flex-end;
  background-color: transparent;
  color: gray;
}

.product_button-check {
  padding: 0.5rem 2rem;
  margin-bottom: 1rem;
  background-color: red;
  color: #fff;
}

.product_twisted {
  margin: 4rem 0;
  font-size: 0.8rem;
}